<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <link rel="icon" type="image/svg+xml" href="img/bear.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-9074723236907833",
            enable_page_level_ads: true
        });
        </script>
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-66341159-2', 'auto');
        ga('send', 'pageview');

        </script>
        <title>Bear Trader</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="/js/js.cookie.js"></script>
        <script src="/js/q.js"></script>
        <script src="/js/bt.min.js"></script>
        <link rel="stylesheet" href="/css/bt.css">
    </head>
    <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img src="img/bear.png" width="50">
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="inactive"><a href="#">Home</a></li>
            <li class="active"><a href="#">My Coins</a></li>
            <li><a href="#about">About</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Test</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-6">
                <div id="coinone_ticker" ng-controller="coinone_ticker_ctrl">
                    <table style="width: 100%;max-width: 500px;">
                        <tr>
                            <td>
                                <h4 style="display: inline-block">코인원 현황</h4>
                            </td>
                            <td style="text-align: right;">
                                <span ng-cloak class="ng-cloak" style="font-size: 10px;color: #5577aa"> Last Update: {{coinone_ticker.lastUpdate*1000 | date:'yyyy-MM-dd HH:mm:ss Z'}}</span>
                            </td>
                    </table>
                    <table class="table table-striped price-list" style='border: 1px #bbbbbb solid;max-width: 500px;' ng-cloak class="ng-cloak">
                    <thead>
                        <tr>
                            <td>종류</td>
                            <td>가격</td>
                            <td>포지션</td>
                            <td>김프</td>
                            <td>1/5/30분</td>
                            <td>1/6/24시간</td>
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(key, val) in coinone_ticker.data">
                        <td><a ng-href="{{getLink(key)}}" target="_blank"ㅇ>{{key | uppercase }}</a></td>
                        <td>{{val.high}}<br><b>{{val.last}}</b><br>{{val.low}}</td>
                        <td>{{((val.high-val.last)/(val.high-val.low)) | number : 2}}</td>
                        <td>
                            <span ng-style="plus_minus(val.premium)">{{val.premium | number : 1}}%</span>
                        </td>
                        <td>
                        <span ng-style="plus_minus(val.trend.min_1)">{{val.trend.min_1 | number : 2}}%</span><br>
                        <span ng-style="plus_minus(val.trend.min_5)">{{val.trend.min_5 | number : 2}}%</span><br>
                        <span ng-style="plus_minus(val.trend.min_30)">{{val.trend.min_30 | number : 2}}%</span>
                        </td>
                        <td>
                        <span ng-style="plus_minus(val.trend.hour_1)">{{val.trend.hour_1 | number : 2}}%</span><br>
                        <span ng-style="plus_minus(val.trend.hour_6)">{{val.trend.hour_6 | number : 2}}%</span><br>
                        <span ng-style="plus_minus(val.trend.hour_24)">{{val.trend.hour_24 | number : 2}}%</span>
                        </td>
                    </tr>
                    </tbody>
                    </table>
                </div>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-6">
                <div id="polo_ticker" class="table-container" ng-controller="polo_ticker_ctrl" style='height:400px;display:inline-block;'>
                    <table style="width: 100%;max-width: 500px;">
                        <tr>
                            <td>
                                <h4 style="display: inline-block">폴로닉스 현황</h4>
                            </td>
                            <td style="text-align: right;">
                            </td>
                            <td style="text-align: right;">
                                <select ng-model="currency"
                                    ng-init="currency = currency || currency_option[0]"
                                    ng-options="x for x in currency_option"
                                    ng-cloak class="ng-cloak" >
                                </select>
                            </td>
                    </table>
                    <table class="table table-striped price-list scrollable" style="border: 1px #bbbbbb solid;max-width: 500px;" ng-cloak class="ng-cloak" >
                    <thead>
                        <tr>
                            <td>Coin</td>
                            <td>BTC</td>
                            <td>USDT</td>
                            <td>KRW</td>
                            <td>Position</td>
                            <td>Daily</td>
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-show="c.name.startsWith(currency)" ng-repeat="c in polo_ticker | orderBy: 'name'">
                        <td><a ng-href="https://poloniex.com/exchange#{{c.name}}" target="_blank">
                        {{c.name.split('_')[1]}}</a>
                        </td>
                        <td>{{show_btc(c.data.last) | number : 6}}</td>
                        <td>{{show_usdt(c.data.last) | number : 2}}</td>
                        <td>{{show_krw(c.data.last) | number : 0}}</td>
                        <td>{{((c.data.high24hr-c.data.last)/(c.data.high24hr-c.data.low24hr)) | number : 2}}</td>
                        <td ng-style="plus_minus(c.data.percentChange)">{{c.data.percentChange * 100 | number : 1}}%</td>
                    </tr>
                    </tbody>
                    </table>
                </div>
                <br>
            </div>
            <div class="col-xs-12">
                <br><br>
                <div class="alert alert-success" style="max-width: 500px;">
                    <strong>Bear Trader!</strong><br><br>한눈에 코인원과 폴로닉스의 현황을 볼수있는 코인 정보페이지를 개발중입니다. 아직 초기단계라 편리한 기능이 부족하나, 여건이 되면 점차 기능과 완성도를 높힐 계획입니다. 특히 API키 없이 트레이딩에 편리한기능을 제공하기위해서 아이디어를 구상중입니다.<br>작은 기부도 개발과 서버 운영에 큰 도움이 됩니다.<br>감사합니다.<br><br>
                        <span style="font-size: 8pt">
                        <b>개발자 커피 사주기</b><br>
                        비트코인지갑 주소: 13qQYpdzLFgVUqkr5afBvNQmikFaBW6iCp<br>
                        이더리움지갑 주소: 0xC08C3FFB11C932B675A7424EE58314531872C265
                        </span>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>